<form [formGroup]="newTodoForm"
  (ngSubmit)="onAdd()"
  class="form-inline"
  novalidate="true"
  autocomplete="nope"
>

  <div class="form-group">

    <input type="text"
      name="name"
      class="form-control"
      id="name"
      placeholder="New todo"
      formControlName="name"
      autofocus="true"
    >

  </div>

  <button type="submit"
    class="btn"
    name="add"
    [disabled]="newTodoForm.invalid"
  >Add
  </button>

</form>

<div class="arrow-down"></div>

<ul class="list-unstyled">

  <li *ngFor="let todo of todoList">
    <span>
        <input type="checkbox"
          name="completed"
          (click)="onUpdate(todo)"
          [checked]="todo.completed"
        >

      <label [ngClass]="{'label-completed': todo.completed, 'strike': todo.completed}" class="label-completed">{{todo.name}}</label>
    </span>
    <button type="button"
      class="btn btn-danger"
      name="delete"
      (click)="onDelete(todo)"
      >Delete
    </button>

  </li>

</ul>
